* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* About Section */
.about-section {
  padding: 80px 60px;
  background-color: #0b0f19;
  color: white;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

/* Text Content */
.about-text {
  width: 50%;
}

.about-text h4 {
  color: #ff2c2c;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.about-text h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #d1d5db;
}

.about-btn {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  background-color: #ff2c2c;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: #e60000;
}

/* Image */
.about-image {
  width: 50%;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
}
